/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.button--class, .button--group {
    width: 100%;
}

.button--class__name {
    flex: 1;
}

.class-picker {
    margin-top: 1rem;
}

.class-group-container {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.class-container {
    margin-top: 0.1rem;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    .column--button:not(:first-child) {
        padding-top: 0.1rem;
    }
    .column--button {
        padding-bottom: 0.1rem;
    }
}

.class-group {
    //padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.js-planner {
    margin-top: 0.1rem;
}

.edit-button {
    margin-top: 1rem;
}
