/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    overflow: hidden;
}

.section--helper {
    padding: 0.5rem 1.5rem;
    height: calc(100% - 3.25rem);
}

.button--group {
    width: 100%;
}

.button--class {
    margin-bottom: 0 !important;
    flex-wrap: nowrap;
    width: 90%;
}

.button--class__name {
    flex: 1;
}

.class-picker {
    margin-top: 1rem;
    height: 77%;
    max-height: 108vh;
    padding-bottom: 0;

    & .box {
        height: 80%;
    }
}

.class-group-container {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.class-container {
    margin-top: 0.1rem;
    height: 20vh;
    max-height: 20vh;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 1.25em;
}

.column--button {
    height: 25vh;
    max-height: 25vh;
    overflow: hidden;
    overflow-y: auto;
}

.class-group {
    //padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.js-planner {
    margin-top: 0.1rem;
}

.buttons-semester {
    //margin-top: 2rem;
    margin-bottom: 0 !important;
    //position: relative;
    //top: 4vh;
}

.box--selected {
    border: solid rgba(32, 156, 238, 0.3);
}

.box--semester {
    height: 39vh;
    padding-bottom: 0.75rem;
}

.override {
    margin-top: 1.5rem;
    .box {
        background-color: papayawhip;
    }
}

.login {
    width: 20%;
    padding: 2rem;
}

.message--guide {
    position: fixed;
    width: 300px;
    bottom: 0;
    right: 0;
}

//.curriculum,
//.planning,
.override {
    max-height: 78vh;
}
.curriculum {
    max-height: 80vh;
}
